<div [(ngModel)]="homeData" [froalaEditor]>{{ homeData }}</div>
<hr>
<p-confirmDialog></p-confirmDialog>
<div class="container">
    <div class="row">
        <div class="col col-md-2">
<button type="button" (click)="confirm1(homeData)" pButton icon="pi pi-check" label="Save Changes"></button>
</div>
<div style="margin: 0px 0px 0px -40px;" class="col col-md-1">
<button type="button" (click)="reset()" pButton icon="pi pi-times" label="Reset"></button>
</div>
</div>
</div>

<p-messages [value]="msgs"></p-messages>
